html(lang="dk")
    style
        include ../styles/admin.css
    header
        title admin
        meta(charset="UTF-8")
    body
        h1 Admin side
        form(method="post" action="/admin")
            button(class= "booking" type="submit" onclick="bookingDirect()") booking
                booking
            button(class= "galleri" type="submit") galleri
                galleri
            button(class= "forside" type="submit") forside
                forside
            button(class= "faq" type="submit") faq
                faq
            button(class= "ommig" type="submit") ommig
                ommig
            button(class= "contakt" type="submit") contakt
                contakt
        
        script
            function bookingDirect() {
                admin="adminbooking.pug"
            }

