html(lang="dk")
    style

    header
        title admin
        meta(charset="UTF-8")
    body
        h1 Admin side
        form(method="post" action="/admin")
            button(type="submit") booking
                booking
            button(type="submit") galleri
                galleri
            button(type="submit") forside
                forside
            button(type="submit") faq
                faq
            button(type="submit") ommig
                ommig
            button(type="submit") contakt
                contakt

