html(lang="en")
    head
    include header.pug
        script  
            include ../node_modules/fullcalendar/main.js
            include ../scripts/calendar.js
        style
            include ../node_modules/fullcalendar/main.css
            include ../styles/contact.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body
    div(class="wrapper")
        div(class="info")
            p Herunder kan du se min kalender som fortæller om jeg er ledig på din ønskede dato.
            p Hvis du ønsker at kontakte mig, kan du enten kontakte mig via min e-mail, tlf. nummer, eller udfylde en kontaktformular.
            p Jeg vil derefter vende tilbage hurtigst muligt.

        div(class='OWInfo')
            P Email: oldoakevita@gmail.com
            p Mobil: 53816564
        div(class='kundeInfo')
            form(action="/contact", method="post")
                label(for="emne", id="emneerror")
                input(type="text", name="emne", placeholder="Emne (Bryllup, konfir. osv.)") 
                br
                label(for="email", id="emailerror")
                input(type="email", name="email", placeholder="E-mail")
                br
                label(for="navn", id="navnerror")
                input(type="text", name="navn", placeholder="Navn")
                br
                label(for="number", id="tlfNummererror")
                input(type="number", name="tlfNummer", placeholder="Telefonnummer")
                br
                textarea(name="besked", id="besked", cols="30", rows="10", placeholder="Din besked til Oaldoak Weddings, heriblandt ønsker eller specielle behov.")
                br
                label(for="dato", id="datoerror")
                input(type="text", name="dato", id="dato", placeholder="Vælg dato i kalender")
                br
                button(type="submit", name="submit") Send formular
        div(class='fullCalendar', id='calendar')
            #calendar
    include footer.pug


