
html 
    style
        include ../styles/faqStyle.css
    head 
        title FAQ
    body 
        h1 dette er en text 

    ul
        each text in texts 
            p= text.overskrift
            p= text.brødtext 