
html 
    style
        include ../styles/faqStyle.css
    head 
        title FAQ'S
    body 
        h1 FAQ'S
        div(class="linje")

    div(class="samlet")
        each text in texts 
            div(class='under')
                div(class='under2')
                    h2(class="overskrift")= text.overskrift
                    p(class="text")= text.txt