html
    style
        include ../styles/footer.css
    header
        title footer
    body
        div(class="footer")
            div(class="content")
                a(href='https://www.instagram.com/oldoakweddings/')
                    img(class="billede" src="/static/pictures/socialmedia/instagramicon.png")
                a(href='https://www.facebook.com/oldoakweddings/')
                    img(class="billede" src="/static/pictures/socialmedia/Facebookicon.png")
                p e-Mail: oldoakweddings@gmail.com
                
</div>