html
    style
        include ../styles/forside.css
    header
        title Hjem
        meta(charset="UTF-8")
        include header.pug
    body
        div(class='grid')
            div(class='top')
                img(class='couple' src="/static/pictures/MG_4997.webp")
                p(id='quote') ”Life isn’t what one lived, but what one remembers and how one remembers it to tell it.” 
                p(id='quote') –Gabriel García Márquez
            div(class='welcome') 
                img(class='couple2' src="/static/pictures/MG_8662-2.webp")
                h1 Welcome
                p(id='welcomeText') Mit navn er Evita, Oldoak Weddings er et af de mest betydningsfulde projekter jeg nogensinde har createret. Det er den konstante påmindelse om at ægte kærlighed findes, en bog fuld af historier og et eventyr jeg aldrig turde drømme om. 
                p(id='welcomeText') Jeg har taget billeder lige siden jeg kan huske, men jeg forstillede mig aldrig at jeg ville have den ære at kunne få lov til at fange folk i så intime begivenheder som deres bryllupsdag. Det har jeg været i gang med i mere end 4 år og jeg elsker det af hele mit hjerte.
                p(id='welcomeText') Jeg elsker at fotografere til brylluper, fordi jeg får chancen for at fange ikke kun hvordan bryllupet var, men også hvorfor det skulle være jer for evigt. Jeg tage disse billeder for at minde jer om at i er et team, at i tog en beslutning sammen og hvor lykkelige det har gjort jer. Fordi tiden vil flyve forbi jer, vinden vil blæse og i behøver noget at holde fast i. Det er hvad jeg er her for. 
                p(id='welcomeText') Jeg stræber efter at fange autentiske følelser, kærlighed og den essence af hvem i er, de ægte øjeblikke af jeres dag, ikke de unaturlige poserede billeder. Jeg vil fange jeres ægte jer. Og det er hvad Oldoak Weddings handler om. jer.
        include footer.pug
            


