html
    style
        include ../styles/forside.css
    header
        title Home
        meta(charset="UTF-8")
        include header.pug
    body
        div(class='grid')
            div(class='top')
                img(class='couple' src="/static/pictures/MG_4997.webp")
                p(id='quote') ”Life isn’t what one lived, but what one remembers and how one remembers it to tell it.” 
                p(id='quote') –Gabriel García Márquez
            div(class='welcome') 
                img(class='couple2' src="/static/pictures/MG_8662-2.webp")
                h1 Welcome
                p(id='welcomeText') My name is Evita and Oldoak Weddings is one of the dearest things I have created. It is the constant reminder that true love exists, a book full of stories and the adventure I never dreamt I would be on. 
                p(id='welcomeText') I have been taking pictures ever since I can remember myself, but never had I imagined that I would have the honor to capture people on such an intimate matter as their wedding day. I have now been doing that for more than 4 years and I am absolutely in love. 
                p(id='welcomeText') I love shooting weddings because I get the chance to capture not only how the wedding was, but also why you got married. I take these pictures as a reminder for you that you are a team, that you made a decision and how happy it made you when you did. Because time will go by, wind will blow and you will need something to hold on to. That is what I am there for. 
                p(id='welcomeText') I strive to capture authentic emotion, love and the essence of who you are, the real moments of your day, not the unnatural posed images. I want you to be you. And that's what Oldoak Weddings is all about. You.
        include footer.pug
            


