html
    style
        include ../styles/forside.css
    header
        img(src="/static/pictures/cropped-oldoak.jpg")
        div(class='box1')
            a(id='home', href='/home') Home
            a(id='kontakt', href='/kontakt') Contact
            a(id='priser', href='/priser') Prices
            a(id='galleri', href='/galleri') Gallery
            a(id='mig', href='/omMig') Om Mig
            a(id='faq', href='/faq') FAQ's
        title Home
        meta(charset="UTF-8")
    body
        div(class='box2')


