
html
    style
        include ../styles/galleri.css
    header 
        title galleri 
    body 
        div(class="samlet")   
            h2(id="sommer" type="button") Sommmer
            a(href='https://github.com/LouieAdamian')
                img(src="/static/pictures/galleri/Screenshot_1.png")
            h2 Vinter
            img(src="/static/pictures/galleri/Screenshot_1.png")
            h2 Efterår
            img(src="/static/pictures/galleri/Screenshot_1.png")
            h2 Forår
            img(src="/static/pictures/galleri/Screenshot_1.png")
    