
html
    style
        include ../styles/galleri.css
    header 
        include header.pug
        title galleri 
    body 
        div(class="samlet")   
            //- Sådan laves en kommentar  
        form(method="post" action="/galleri")
            button(name="sommer1" id="knap") Sommmer
            img(src="/static/pictures/galleri/Screenshot_1.png" class="sæsonbilleder")
            button(name="vinter" id="knap") Vinter
            img(src="/static/pictures/galleri/Screenshot_1.png" class="sæsonbilleder")
            button(name="efterår" id="knap") Efterår
            img(src="/static/pictures/galleri/Screenshot_1.png" class="sæsonbilleder")
            button(name="forår" id="knap") Forår
            img(src="/static/pictures/galleri/Screenshot_1.png" class="sæsonbilleder")

            div(class="accordion")
                input(type="radio" name="example_accordion" id="section1" class="accordion__input")
                label(for="section1" class="accordion_label") section1
                div(class="accordion__content")
                    p dette er noget text for at lave et eksemepel... 
        
        each link in filnavne
                    ul
                    h2= link
                    img(src="/static/pictures/galleri/" + link) 
    include footer.pug