
html
    style
        include ../styles/galleri.css
    header 
        title galleri 
    body 
        div(class="samlet")   
            //- Sådan laves en kommentar  
        form(method="post" action="/galleri")
            button(id="sommer" type="sumbit") Sommmer
            img(src="/static/pictures/galleri/Screenshot_1.png")
            button Vinter
            img(src="/static/pictures/galleri/Screenshot_1.png")
            button Efterår
            img(src="/static/pictures/galleri/Screenshot_1.png")
            button Forår
            img(src="/static/pictures/galleri/Screenshot_1.png")
    