html
    style
        include ../styles/header.css
    header
        title header
    body
        div(class='hoved')
            div(class='indhold')
                div(class='logo')
                    a(href="/home")
                        img(class='logoPic' src="/static/pictures/cropped-oldoak.jpg")
                div(class='links1')
                    a(id='link', href='/home') Home
                    a(id='link', href='/contact') Contact
                    a(id='link', href='/priser') Prices
                div(class='links2')
                    a(id='link', href='/galleri') Gallery
                    a(id='link', href='/omMig') About me
                    a(id='link', href='/faq') FAQ's
