html
    style
        include ../styles/header.css
    header
        title header
    body
        div(class='hoved')
            div(class='indhold')
                div(class='logo')
                    a(href="/hjem")
                        img(class='logoPic' src="/static/pictures/cropped-oldoak.jpg")
                div(class='links1')
                    a(id='link', href='/hjem') Hjem
                    a(id='link', href='/kontakt') Kontakt
                    a(id='link', href='/priser') Pakker
                div(class='links2')
                    a(id='link', href='/galleri') Galleri
                    a(id='link', href='/omMig') Om mig
                    a(id='link', href='/faq') FAQ
