html
    style
        include ../styles/header.css
    header
        title header
    body
        div(class='logo')
            img(class='logoPic' src="/static/pictures/cropped-oldoak.jpg")
        div(class='links1')
            a(id='home', href='/home') Home
            a(id='kontakt', href='/kontakt') Contact
            a(id='priser', href='/priser') Prices
        div(class='links2')
            a(id='galleri', href='/galleri') Gallery
            a(id='mig', href='/omMig') Om Mig
            a(id='faq', href='/fag') FAQ's
</div>