html
    style
        include ../styles/header.css
    header
        title header
    body
        div(class='head')
            img(src="/static/pictures/cropped-oldoak.jpg")
        div(class='box1')
            a(id='home', href='/home') Home
            a(id='kontakt', href='/kontakt') Contact
            a(id='priser', href='/priser') Prices
        div(class='box2')
            a(id='galleri', href='/galleri') Gallery
            a(id='mig', href='/omMig') Om Mig
            a(id='faq', href='/faq') FAQ's
</div>