html(lang="dk")
    style
        include ../styles/login.css
    header
        title LOGIN
        meta(charset="UTF-8")
    body
        form(method="post" action="/login")
            input(type="text" name="username" placeholder="Username")
            input(type="password" name="password" placeholder="Password")
            button(type="submit") login
                login