html(lang="dk")
    head
        title LOGIN
        meta(charset="UTF-8")
    body
        //- sådan laver man en kommentar
        form(method="post" action="/login")
            input(type="text" name="username")
            input(type="password" name="password")
            button(type="submit") Login
                Login