html
    style
        include ../styles/omMig.css
    header
        title BEHIND THE CAMERA
        meta(charset="UTF-8")
        include header.pug
    body
        div(class='grid')
            div(class='box1') 
                h1 Bag kameraet
                h2 Evita Vecozola Højegaard
                h3 Kontakt:
                p(id='mail') oldoakweddings@gmail.com
                p(id='distance')
                br 
                p(id='info') Jeg er Evita. Født og opvokset i Letland indtil mit hjerte fandt et hjem i Danmark. Har boet her siden 2014, spist lasagne, danset til Queen og fotograferet mine venner, når de tillader det. Jeg har mange interesser. Jeg elsker at bage (når jeg har tid til det), elsker kaffe og elsker dybe samtaler under stearinlys med min mand. Tilbage i Letland studerede jeg kunst i 7 år, og det satte virkelig et præg på mig. Det lærte mig at se anderledes på denne verden. Selvom jeg måske virker rolig, surrer min hjerne altid med ideer, drømme og ufærdige tanker. Altid klar til et nyt projekt eller eventyr. 
            div(class='box2')
                img(class='evita' src="/static/pictures/Evitasbachelorette-0094.webp")

        include footer.pug
