html
    style
        include ../styles/omMig.css
    header
        title BEHIND THE CAMERA
        meta(charset="UTF-8")
        include header.pug
    body
        div(class='grid')
            div(class='box1') 
                h1 Omme bag kameraet
                h2 Evita Vecozola Højegaard
                h3 Kontakt:
                p(id='mail') oldoakweddings@gmail.com
                p(id='distance')
                br 
                p(id='info') I am Evita. Born and raised in Latvia till my heart found home in Denmark. Been living here since 2014, eating lasagne, dancing to the Queen and photographing my friends whenever they let me. I love a lot. I love baking (when I have time for that), love coffee & love deep talks under candle lights. Back in Latvia I studied art for 7 years and it really left a mark on me. It taught me to look at world differently. Even though I might seem calm, my brain is always buzzing- with ideas, dreams and unfinished thoughts. Always ready for a new project or adventure to get on. 
            div(class='box2')
                img(class='evita' src="/static/pictures/Evitasbachelorette-0094.webp")
        include footer.pug
