-// oprettes med row og 3 cols
html
    style
    header
        title Pakkeløsning
    body
        h1(class='overskrift') Pakkeløsninger
        div(class='pakkeløsningrække')
            div(class='column')
            div(class='column')
            div(class='column')
            div(class='column')



