-// oprettes med row og 3 cols
html
    style
        include ../styles/pakkeløsningStyle.css
    header
        title Pakkeløsning
    body
        h1(class='overskrift') Pakkeløsninger  
        div(class='pakkeløsningrække')
            each pakkeløsning in pakkeløsninger
                div(class='column') 
                    
            



