-// oprettes med row og 3 cols
html
    style
        include ../styles/pakkeløsningStyle.css
    header
        title Pakkeløsning
    body
        h1(class='overskrift') Pakkeløsninger  
        div(class='pakkeløsningrække')
            div(class='column') a
            div(class='column') b
            div(class='column') c
            div(class='column') d



