-// oprettes med row og 3 cols
html
    style
        include ../styles/pakkeløsningStyle.css
        
    header
        title Pakkeløsning
    body
        h1(class='overskrift') Pakkeløsninger  
        div(class='pakkeløsningrække')
            ul
                each pakkelosning in pakkelosninger
                    div(class='column')
                        p(class= 'navn')= pakkelosning.pakkeNavn
                        p(class= 'pris')= pakkelosning.pris
                        p(class= 'beskrivelse')= pakkelosning.beskrivelse
        include footer.pug
                    
                    

            



