form {
    text-align: center;
    padding: 1%;
}

button {
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    display: inline-block;
}

button:hover {
    color: white;
    background-color:black;
}

h1 {
    text-align: center;
}