header{
    margin-bottom: 10%;
}

.grid{
    display: grid;
    grid-template-rows: 6;
}

.top{
    text-align: center;
    float: center;
    margin-bottom: 1%;
}

.couple{
    height: 600;
    margin-left: 1%;
    margin-bottom: 2%;
}

#quote{
    font-style: italic;
}¨

.welcome{
    text-align: center;
}

h1{
    margin-left:20.5%;
    margin-bottom: 3%;
}

#welcomeText{
    margin-left:20.5%;
    width: 30%;
    font-style: italic;
}

.couple2{
    height: 550;
    float: right;
    margin-right: 19.5%;
    margin-top: 2%;
}

