form{
    display: grid;
    grid-template-rows: 2;
    margin-top: 3%;
    margin-left: 14%;
}

button:focus{
    outline:0px;
    }



button{
    margin-top: 30%;
    grid-row-start: 1;
    margin-right: 20%;
    margin-left: -50%;
    font-size: 20px;
    float: left; 
    border: none; 
    background-color: inherit;
    cursor: pointer;
}

img{    
    text-align: center;
    margin-left: -24%; 
    margin-right: auto;
    grid-row-start: 2;
    height: 180;
    float: left;
}