.hoved {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

.indhold{
    float: center;
    padding-bottom: 7%;
}

.logo{
    grid-column-start: 2;
    position: absolute;
    text-align: center;
    top: 0;
    left: 41%;
}

.links1{
    grid-column-start: 1;
    position: absolute;
    margin-top: 3%;
    right:60%;
    width: 12%;
    color: black;
    text-align: center;
    font-size: 120%;
    text-decoration: none;
}

.links2{
    grid-column-start: 3;
    position: absolute;
    margin-top: 3%;
    left: 53%;
    width: 14%;
    color: black;
    text-align: center;
    font-size: 120%;
    text-decoration: none;
}

.logoPic {
    height: 105;
}

#link{
    text-decoration: none;
    color: black;
    margin-right: 5%;
    font-style: italic;
}