.hoved {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

.indhold{
    float: center;
    padding-bottom: 7%;
}

.logo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
}

.links1{
    position: absolute;
    margin-top: 3%;
    right:62%;
    width: 14%;
    color: black;
    text-align: center;
    font-size: 120%;
    text-decoration: none;
}

.links2{
    position: absolute;
    margin-top: 3%;
    left: 60%;
    width: 20%;
    color: black;
    text-align: center;
    font-size: 120%;
    text-decoration: none;
}



.logoPic {
    height: 105;
}

#link{
    text-decoration: none;
    color: black;
    margin-right: 8%;
    font-style: italic;
}

#link:hover{
    color: black;
    text-decoration: underline;
}


