
header{
    margin-bottom: 10%;
}

.grid{
    display: grid;
    grid-template-rows: 6;
}

.box1{
    text-align: left;
    margin-left: 20%;
}

.box2{
    margin-right: 20%;
}

h1{
    border: solid; 
    width: 31%;
}

h2{
    width: 31%;
}

h3{
    width: 31%;
}

#mail{
    width: 31%;
}

#distance{
    border-top: solid;
    width: 31%;
}

#info{
    width: 33%;
}

.evita{
    height: 450;
    position: absolute;
    top: 24%;
    right: 20%;
}