.column {
    float: left;
    width: 24.50%;
    text-align: center;
    border:3px solid black;
  }
  
.pakkeløsningrække::after {  
    content: "";
    clear: both;
    display: table;
}

h1 {
    text-align: center;
}