.column {
    float: left;
    width: 19.5%;
    text-align: center;
    border-style: solid;
    border-color: grey;
    margin: 25px;
    border-radius: 5px;
}

  
.pakkeløsningrække::after {  
    content: "";
    clear: both;
    display: table;
}

.pakkeløsningrække {
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 10%;
}

.navn {
    text-decoration: underline;
}

p {
    font-family: "Times New Roman", Times, serif;
}

